body {
  -webkit-animation: theme 21s linear infinite;
          animation: theme 21s linear infinite;
}

body:after, body:before {
  content: "";
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;
  width: 100vw;
  height: 100vh;
  width: 100vmax;
  height: 100vmax;
  background: rgba(25, 26, 24, 0.664);
  -webkit-animation: background 90s linear infinite;
          animation: background 90s linear infinite;
}

body:after {
  left: 15vw;
}

body:before {
  right: 15vw;
  -webkit-animation-delay: -30s;
          animation-delay: -30s;
  animation-direction: reverse;
}

@-webkit-keyframes theme {
  0% {
    background: #000000;
  }
  16% {
    background: #5DBDB6;
  }
  33% {
    background: #59D4E1;
  }
  50% {
    background: #51BCE8;
  }
  66% {
    background: #FA5374;
  }
  83% {
    background: #E46653;
  }
  100% {
    background: #74C390;
  }
}

@keyframes theme {
  0% {
    background: #0f0f0f;
  }
  16% {
    background: #0f0f0f;
  }
  33% {
    background: #0f0f0f;
  }
  50% {
    background: #0f0f0f;
  }
  66% {
    background: #0f0f0f;
  }
  83% {
    background: #0f0f0f;
  }
  100% {
    background: #0f0f0f;
  }
}
@-webkit-keyframes background {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes background {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body h1 {
  margin: 0;
  padding-bottom: 6rem;
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  font-family: "Teko", sans-serif;
  font-size: 10rem;
  text-transform: uppercase;
  animation: glow 2s ease-in-out infinite alternate;
  text-align: center;
}
@keyframes glow {
from {
  text-shadow: 0 0 20px #2d9da9;
}
to {
  text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
}
}

p {
  color: white;
  font-weight: bold;
}

.login {
  overflow: hidden;
  background-color: black;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
  -moz-transition: -moz-transform 300ms, box-shadow 300ms;
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
}

.login::before, .login::after {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  border-top-left-radius: 40%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  z-index: -1;
}

.login::before {
  left: 40%;
  bottom: -130%;
  background-color: rgba(202, 216, 10, 0.781);
  -webkit-animation: wawes 6s infinite linear;
  -moz-animation: wawes 6s infinite linear;
  animation: wawes 6s infinite linear;
}

.login::after {
  left: 35%;
  bottom: -125%;
  background-color: rgba(190, 187, 18, 0.767);
  -webkit-animation: wawes 7s infinite;
  -moz-animation: wawes 7s infinite;
  animation: wawes 7s infinite;
}

.login > input {
  font-family: "Asap", sans-serif;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: rgb(208, 211, 195);
  width: 100%;
  border: 0;
  padding: 10px 10px;
  margin: 15px -10px;
}

.login > button {
  font-family: "Asap", sans-serif;
  cursor: pointer;
  color: black;
  font-size: 0.8vw 0.8vh;
  text-transform: uppercase;
  width: 80px;
  border: 0;
  padding: 1vh 5vw;
  padding-left: 0.8vw;
  align-items: center;
  margin-top: 10px;
  margin-left: 2vw;
  border-radius: 5px;
  text-align: center;
  background-color: #ffe600;
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  transition: background-color 300ms;
}

.login > button:hover {
  background-color: rgb(208, 211, 195);
}

@-webkit-keyframes wawes {
from {
  -webkit-transform: rotate(0);
}

to {
  -webkit-transform: rotate(360deg);
}
}

@-moz-keyframes wawes {
from {
  -moz-transform: rotate(0);
}

to {
  -moz-transform: rotate(360deg);
}
}

@keyframes wawes {
from {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}

to {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
}

a {
  text-decoration: none;
  color: rgba(158, 18, 18, 0.6);
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 12px;
}

.center {
  display: flex;
  justify-content: center;
  color: #2d9da9;
  font-size: large;
}

.white {
  color: white;
}

.logout {
  align-items: center;
  justify-content: center;
  font-family: "Asap", sans-serif;
  cursor: pointer;
  color: black;
  font-size: 0.8vw 0.8vh;
  text-transform: uppercase;
  width: 80px;
  border: 0;
  padding: 1vh 5vw;
  padding-left: 0.8vw;
  align-items: center;
  margin-top: 3vh;
  margin-left: 46.5vw;
  border-radius: 5px;
  text-align: center;
  background-color: #2d9da9;
}